<% include ./layout %>
<h6>Ticket Booking</h6>


<h6><%= (moviename.moviename)?moviename.moviename:'' %></h6>



<style>
    #myDIV {
        /* width: 100%; */
        padding: 50px 0;
        /* text-align: center; */
        /* background-color: lightblue; */
        /* margin-top: 20px; */
        display: none;
    }
    </style>




    <p>Click the "Try it" button to toggle between hiding and showing the DIV element:</p>
    
    <button onclick="myFunction()"><h6><%= (date1.date1)?date1.date1.toDateString():'' %></h6></button>
    
    <div id="myDIV">
        <p><button onclick="myFunction()"><%= (firstShow.firstShow)?firstShow.firstShow:'' %></button>
            <button onclick="myFunction()"><%= (morningShow.morningShow)?morningShow.morningShow:'' %></button>
            <button onclick="myFunction()"><%= (noonShow.noonShow)?noonShow.noonShow:'' %></button>
            <button onclick="myFunction()"><%= (secondShow.secondShow)?secondShow.secondShow:'' %></button> </p>
        

    </div>
    
    <p><b>Note:</b> The element will not take up any space when the display property set to "none".</p>
    
    <script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    </script>
    

